# This workflow will install Python dependencies, run readme.py script and commit changes

name: Build README.md

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '0 0 * * *'

permissions:
  contents: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Cache pip dependencies
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f cache/requirements.txt ]; then pip install -r cache/requirements.txt; fi
    - name: Run script
      env:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        USER_NAME: ${{ secrets.USER_NAME }}
      run: |
        python readme.py
    - name: Commit and push changes
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      run: |
        git config --global user.name "xcezz/actions-bot"
        git config --global user.email "actions-bot@xcezz.github.io"
        git add .
        if git diff --staged --quiet; then
          echo "No changes to commit"
        else
          git commit -m "GitHub Actions build v${{ github.run_number }}"
          git push
        fi
